@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  height: 100vh;
}

#root,
.container,
.loader {
  height: 100%;
}

.container {
  padding: 70px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #f1f2f6;
  font-family: "Open Sans", sans-serif;
}
