@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  height: 100vh;
}

#root,
.container,
.loader {
  height: 100%;
}

.container {
  padding: 70px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #f1f2f6;
  font-family: "Open Sans", sans-serif;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movies .movie {
  display: flex;
  width: 35%;
  background-color: #ffffff;
  margin-bottom: 70px;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.movies .movie_poster {
  position: relative;
  top: -50px;
  margin-right: 20px;
}

.movies .movie_poster .movie_img {
  max-width: 150px;
}

.movies .movie_year {
  color: #808080;
}

.movies .movie_genres {
  padding: 0;
  list-style: none;
  display: flex;
  color: #808080;
  flex-wrap: wrap;
}

.movies .movie_genres li {
  margin-right: 10px;
}

.movies .movie_summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #808080;
}
